<div class="Panel js-panel">
	<div class="Panel__inner">
		
		<div class="l-container color-white" style="background: currentColor linear-gradient( rgba( 100, 97, 94, .2 ) 1px, transparent 1px ) left top / 1.7em 1.7em;">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="color-orange-bright no-margin-bottom">
						<span class="js-panel-title"></span><br>
						–
					</h2>
				</div>
				<div class="col-xs-12 color-black js-panel-content"></div>
				<div class="col-xs-12">
					<p class="h5 no-margin-bottom sans-serif font-bold uppercase color-orange-bright">
						<a class="Link--underline js-panel-link" href="">Voir toutes les articles</a>
					</p>
					<br>
				</div>
			</div>
		</div>

	</div>
</div>