<article class="Card color-white">
	<a href="<?php the_permalink(); ?>" class="display-block position-relative">
		<div class="Card__thumbnail">
			<div class="Card__thumbnail__content">
				<p class="Card__date h5 no-margin font-regular">
					<?php echo get_the_date('j F Y'); ?>
				</p> 
				<p class="Card__category h5 no-margin font-regular color-orange-bright">
					<?php foreach((get_the_category()) as $category) { echo $category->cat_name . ' '; } ?>
				</p>

				<div class="Card__thumbnail__content__footer">
					<p class="Card__author h5 no-margin-top color-orange-bright">
						<?php the_author(); ?>
					</p>
					<p class="Card__title h3">
						<?php the_title(); ?>
					</p>
					<p class="font-bold font-size-34 color-orange-bright no-margin">–</p>
				</div>
			</div>
			<div class="Card__background" style="background-image: url('<?php the_post_thumbnail_url(); ?>');"></div>
		</div>
	</a>

</article>