<div class="Share sans-serif">
	<span class="h4 font-light">Si tu partages pas tu es fan de Phil Collins</span>
	<ul class="menu-inline sans-serif no-margin-bottom">
		<li class="font-bold color-brand-twitter">Twitter</li><!--
	 --><li class="font-bold color-brand-facebook">Facebook</li><!--
	 --><li class="font-bold color-brand-tumblr">Tumblr</li><!--
	 --><li class="font-bold color-brand-pinterest">Pinterest</li><!--
	 --><li class="font-bold color-brand-google-plus">Google+</li>
	</ul>
	<span class="font-bold font-size-34">–</span>
</div>