/**
 * BASE: WEBFONTS
 */

// Fonts declaration –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// 100    $extralight   Extra Light or Ultra Light
// 200    $light        Light or Thin
// 300    $book         Book or Demi
// 400    $regular      Normal or Regular
// 500    $medium       Medium
// 600    $semibold     Semibold, Demibold
// 700    $bold         Bold
// 800    $extrabold    Black, Extra Bold or Heavy
// 900    $extrablack   Extra Black, Fat, Poster or Ultra Black

// .eot         IE9 Compat Modes 
// .eot?#iefix  IE6-IE8
// .woff        Modern Browsers
// .ttf         Safari, Android, iOS
// .svg         Legacy iOS

// Palatino Linotype –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Roman
@font-face 
{
	font-family: 'Palatino Linotype', serif;
	src: url('#{$fonts-dir}/palatino-linotype/roman/PalatinoLinotype-Roman.eot');
	src: url('#{$fonts-dir}/palatino-linotype/roman/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/palatino-linotype/roman/PalatinoLinotype-Roman.woff2') format('woff2'),
		url('#{$fonts-dir}/palatino-linotype/roman/PalatinoLinotype-Roman.woff') format('woff'),
		url('#{$fonts-dir}/palatino-linotype/roman/PalatinoLinotype-Roman.ttf') format('truetype'),
		url('#{$fonts-dir}/palatino-linotype/roman/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman') format('svg');
	font-weight: map-get($font-weight, regular);
	font-style: normal;
}

// Italic
@font-face 
{
	font-family: 'Palatino Linotype', serif;
	src: url('#{$fonts-dir}/palatino-linotype/italic/PalatinoLinotype-Italic.eot');
	src: url('#{$fonts-dir}/palatino-linotype/italic/PalatinoLinotype-Italic.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/palatino-linotype/italic/PalatinoLinotype-Italic.woff2') format('woff2'),
		url('#{$fonts-dir}/palatino-linotype/italic/PalatinoLinotype-Italic.woff') format('woff'),
		url('#{$fonts-dir}/palatino-linotype/italic/PalatinoLinotype-Italic.ttf') format('truetype'),
		url('#{$fonts-dir}/palatino-linotype/italic/PalatinoLinotype-Italic.svg#PalatinoLinotype-Italic') format('svg');
	font-weight: map-get($font-weight, regular);
	font-style: italic;
}

// Bold
@font-face 
{
	font-family: 'Palatino Linotype', serif;
	src: url('#{$fonts-dir}/palatino-linotype/bold/PalatinoLinotype-Bold.eot');
	src: url('#{$fonts-dir}/palatino-linotype/bold/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/palatino-linotype/bold/PalatinoLinotype-Bold.woff2') format('woff2'),
		url('#{$fonts-dir}/palatino-linotype/bold/PalatinoLinotype-Bold.woff') format('woff'),
		url('#{$fonts-dir}/palatino-linotype/bold/PalatinoLinotype-Bold.ttf') format('truetype'),
		url('#{$fonts-dir}/palatino-linotype/bold/PalatinoLinotype-Bold.svg#PalatinoLinotype-Bold') format('svg');
	font-weight: map-get($font-weight, bold);
	font-style: normal;
}

// Bold italic
@font-face 
{
	font-family: 'Palatino Linotype', serif;
	src: url('#{$fonts-dir}/palatino-linotype/bold-italic/PalatinoLinotype-BoldItalic.eot');
	src: url('#{$fonts-dir}/palatino-linotype/bold-italic/PalatinoLinotype-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/palatino-linotype/bold-italic/PalatinoLinotype-BoldItalic.woff2') format('woff2'),
		url('#{$fonts-dir}/palatino-linotype/bold-italic/PalatinoLinotype-BoldItalic.woff') format('woff'),
		url('#{$fonts-dir}/palatino-linotype/bold-italic/PalatinoLinotype-BoldItalic.ttf') format('truetype'),
		url('#{$fonts-dir}/palatino-linotype/bold-italic/PalatinoLinotype-BoldItalic.svg#PalatinoLinotype-BoldItalic') format('svg');
	font-weight: map-get($font-weight, bold);
	font-style: italic;
}

// Theinardt –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Light
@font-face 
{
	font-family: 'Theinardt' sans-serif;
	src: url('#{$fonts-dir}/theinhardt/light/theinhardt-light-webfont.eot');
	src: url('#{$fonts-dir}/theinhardt/light/theinhardt-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/theinhardt/light/theinhardt-light-webfont.woff2') format('woff2'),
		url('#{$fonts-dir}/theinhardt/light/theinhardt-light-webfont.woff') format('woff'),
		url('#{$fonts-dir}/theinhardt/light/theinhardt-light-webfont.ttf') format('truetype'),
		url('#{$fonts-dir}/theinhardt/light/theinhardt-light-webfont.svg#theinhardtlight') format('svg');
	font-weight: map-get($font-weight, light);
	font-style: normal;
}

// Light italic
@font-face 
{
	font-family: 'Theinardt' sans-serif;
	src: url('#{$fonts-dir}/theinhardt/light-italic/theinhardt-lightita-webfont.eot');
	src: url('#{$fonts-dir}/theinhardt/light-italic/theinhardt-lightita-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/theinhardt/light-italic/theinhardt-lightita-webfont.woff2') format('woff2'),
		url('#{$fonts-dir}/theinhardt/light-italic/theinhardt-lightita-webfont.woff') format('woff'),
		url('#{$fonts-dir}/theinhardt/light-italic/theinhardt-lightita-webfont.ttf') format('truetype'),
		url('#{$fonts-dir}/theinhardt/light-italic/theinhardt-lightita-webfont.svg#theinhardtlight_italic') format('svg');
	font-weight: map-get($font-weight, light);
	font-style: italic;
}


// Regular
@font-face 
{
	font-family: 'Theinardt' sans-serif;
	src: url('#{$fonts-dir}/theinhardt/regular/theinhardt-regular-webfont.eot');
	src: url('#{$fonts-dir}/theinhardt/regular/theinhardt-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/theinhardt/regular/theinhardt-regular-webfont.woff2') format('woff2'),
		url('#{$fonts-dir}/theinhardt/regular/theinhardt-regular-webfont.woff') format('woff'),
		url('#{$fonts-dir}/theinhardt/regular/theinhardt-regular-webfont.ttf') format('truetype'),
		url('#{$fonts-dir}/theinhardt/regular/theinhardt-regular-webfont.svg#theinhardtregular') format('svg');
	font-weight: map-get($font-weight, regular);
	font-style: normal;
}

// Regular italic
@font-face 
{
	font-family: 'Theinardt' sans-serif;
	src: url('#{$fonts-dir}/theinhardt/regular-italic/theinhardt-regularita-webfont.eot');
	src: url('#{$fonts-dir}/theinhardt/regular-italic/theinhardt-regularita-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/theinhardt/regular-italic/theinhardt-regularita-webfont.woff2') format('woff2'),
		url('#{$fonts-dir}/theinhardt/regular-italic/theinhardt-regularita-webfont.woff') format('woff'),
		url('#{$fonts-dir}/theinhardt/regular-italic/theinhardt-regularita-webfont.ttf') format('truetype'),
		url('#{$fonts-dir}/theinhardt/regular-italic/theinhardt-regularita-webfont.svg#theinhardtregular_italic') format('svg');
	font-weight: map-get($font-weight, regular);
	font-style: italic;
}

// Bold
@font-face 
{
	font-family: 'Theinardt' sans-serif;
	src: url('#{$fonts-dir}/theinhardt/bold/theinhardt-bold-webfont.eot');
	src: url('#{$fonts-dir}/theinhardt/bold/theinhardt-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/theinhardt/bold/theinhardt-bold-webfont.woff2') format('woff2'),
		url('#{$fonts-dir}/theinhardt/bold/theinhardt-bold-webfont.woff') format('woff'),
		url('#{$fonts-dir}/theinhardt/bold/theinhardt-bold-webfont.ttf') format('truetype'),
		url('#{$fonts-dir}/theinhardt/bold/theinhardt-bold-webfont.svg#theinhardtbold') format('svg');
	font-weight: map-get($font-weight, bold);
	font-style: normal;
}

// Bold italic
@font-face 
{
	font-family: 'Theinardt' sans-serif;
	src: url('#{$fonts-dir}/theinhardt/bold-italic/theinhardt-boldita-webfont.eot');
	src: url('#{$fonts-dir}/theinhardt/bold-italic/theinhardt-boldita-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts-dir}/theinhardt/bold-italic/theinhardt-boldita-webfont.woff2') format('woff2'),
		url('#{$fonts-dir}/theinhardt/bold-italic/theinhardt-boldita-webfont.woff') format('woff'),
		url('#{$fonts-dir}/theinhardt/bold-italic/theinhardt-boldita-webfont.ttf') format('truetype'),
		url('#{$fonts-dir}/theinhardt/bold-italic/theinhardt-boldita-webfont.svg#theinhardtbold_italic') format('svg');
	font-weight: map-get($font-weight, bold);
	font-style: italic;
}
